.choiceCounter {
    width: 100%;
    display: flex;
    background-color: white;
    margin-bottom: .5rem;
}

.choiceCounter:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0.4rem rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-profix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    font-size: 1.5rem;
    color: white;
}

.choiceAnswer {
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    width: 100%;
}

.correct {
    background-color: lightGreen;
}

.incorrect {
    background-color: crimson;
}

/*hud*/

#hud {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    font-size: 2rem;
    text-align: center;
}

#score {
    text-align: center;
}


/* ProgressBar */

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.4rem solid #56a5eb;
    margin-top: 1.3rem;
}

#progressItem {
    background-color: #56a5eb;
    height: 3.4rem;
    width: 0%;
}


/* loader */

#loader {
    border: 1.5rem solid white;
    border-radius: 50%;
    border-top: 1.5rem solid #56a5eb;
    width: 15rem;
    height: 15rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}